.header {
    background: #FF0000;
    text-align: center;
    color: white; 
}
.container-img {
    width: 100%;
}
.container-cars {
    text-align: center;
}
.carborder {
    border: 3px dashed black;;
}
.footer {
    background:black;
    text-align: center;
    color: white;  
}
.bold { 
    font-weight:bold;
}
.oblique {
    font-style: oblique;
}
.blue-oblique {
    font-style: oblique;
    color: blue;
}
.blue {
    color: blue;
}
header {
    text-align: center;
    background:#9A0909;
}
.image {
    width: 70%;
}

nav {
    background: black;
}
.menu {
    list-style-type: none;
    margin-top: 0% ;
    padding: 0;
    padding-top: 20px;
}
.menu li {
    display: inline-block;
    margin-top: 30px;
    padding-block-start: 10px;
    padding-inline: 60px;
  }
  a {
      color: white;
      text-decoration: none;
  }